
# Python / mac junk
__pycache__/
*.pyc
.DS_Store
._*

# Databases
*.db
*.sqlite3

# Enviroments
.env
.venv/
venv/

# JS junk / misc

node_modules/
package-lock.json
package.json

.pytest_cache/
instance/
coverage.xml

.agents/
.claude/